@font-face {
  font-family: 'ashesdb';
  src:  url('fonts/ashesdb.eot?vwwn0g');
  src:  url('fonts/ashesdb.eot?vwwn0g#iefix') format('embedded-opentype'),
    url('fonts/ashesdb.ttf?vwwn0g') format('truetype'),
    url('fonts/ashesdb.woff?vwwn0g') format('woff'),
    url('fonts/ashesdb.svg?vwwn0g#ashesdb') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ashesdb' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discard:before {
  content: "\e906";
}
.icon-exhaustion:before {
  content: "\e902";
}
.icon-main-action:before {
  content: "\e905";
}
.icon-side-action:before {
  content: "\e904";
}
.icon-basic:before {
  content: "\e903";
}
.icon-ceremonial-class:before {
  content: "\e90a";
}
.icon-ceremonial-power:before {
  content: "\e909";
}
.icon-charm-class:before {
  content: "\e90c";
}
.icon-charm-power:before {
  content: "\e90b";
}
.icon-divine-class:before {
  content: "\e90f";
}
.icon-divine-power:before {
  content: "\e910";
}
.icon-illusion-class:before {
  content: "\e90e";
}
.icon-illusion-power:before {
  content: "\e90d";
}
.icon-natural-class:before {
  content: "\e908";
}
.icon-natural-power:before {
  content: "\e907";
}
.icon-sympathy-class:before {
  content: "\e901";
}
.icon-sympathy-power:before {
  content: "\e900";
}

